## Spring 8: Que no te cuantifico?...

Usaremos los datos de deporte anteriores para dar valores númericos a variables cualitativas.

In [46]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
import scipy 
from scipy import stats
import seaborn as sns

In [47]:
archivos=list()
for i in range(31):
    archivos.append("SP1("+str(i)+").csv")
print(archivos)

['SP1(0).csv', 'SP1(1).csv', 'SP1(2).csv', 'SP1(3).csv', 'SP1(4).csv', 'SP1(5).csv', 'SP1(6).csv', 'SP1(7).csv', 'SP1(8).csv', 'SP1(9).csv', 'SP1(10).csv', 'SP1(11).csv', 'SP1(12).csv', 'SP1(13).csv', 'SP1(14).csv', 'SP1(15).csv', 'SP1(16).csv', 'SP1(17).csv', 'SP1(18).csv', 'SP1(19).csv', 'SP1(20).csv', 'SP1(21).csv', 'SP1(22).csv', 'SP1(23).csv', 'SP1(24).csv', 'SP1(25).csv', 'SP1(26).csv', 'SP1(27).csv', 'SP1(28).csv', 'SP1(29).csv', 'SP1(30).csv']

In [48]:
datos_liga=pd.read_csv("./datos/"+archivos[0])

In [49]:
for i in range(1,25):
    temp=pd.read_csv("./datos/"+archivos[i])
    datos_liga=datos_liga.append(temp,ignore_index=True)

In [50]:
datos_liga.describe

<bound method NDFrame.describe of       Div        Date   Time     HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  \
0     SP1  13/08/2021  20:00     Valencia       Getafe     1     0   H     1
1     SP1  14/08/2021  18:30        Cadiz      Levante     1     1   D     0
2     SP1  14/08/2021  18:30     Mallorca        Betis     1     1   D     1
3     SP1  14/08/2021  21:00       Alaves  Real Madrid     1     4   A     0
4     SP1  14/08/2021  21:00      Osasuna      Espanol     0     0   D     0
...   ...         ...    ...          ...          ...   ...   ...  ..   ...
9495  SP1    18/05/08    NaN  Real Madrid      Levante     5     2   H     3
9496  SP1    18/05/08    NaN   Recreativo   Valladolid     1     1   D     0
9497  SP1    18/05/08    NaN    Santander      Osasuna     1     0   H     0
9498  SP1    18/05/08    NaN      Sevilla   Ath Bilbao     4     1   H     1
9499  SP1    18/05/08    NaN     Valencia   Ath Madrid     3     1   H     2

      HTAG  ...   SJA   GBH  GBD    GBA   BSH   BSD    BSA   SBH  SBD    SBA
0        0  ...   NaN   NaN  NaN    NaN   NaN   NaN    NaN   NaN  NaN    NaN
1        1  ...   NaN   NaN  NaN    NaN   NaN   NaN    NaN   NaN  NaN    NaN
2        0  ...   NaN   NaN  NaN    NaN   NaN   NaN    NaN   NaN  NaN    NaN
3        0  ...   NaN   NaN  NaN    NaN   NaN   NaN    NaN   NaN  NaN    NaN
4        0  ...   NaN   NaN  NaN    NaN   NaN   NaN    NaN   NaN  NaN    NaN
...    ...  ...   ...   ...  ...    ...   ...   ...    ...   ...  ...    ...
9495     0  ...  21.0  1.15  6.5  12.00  1.14  6.50  15.00  1.13  6.5  17.00
9496     1  ...   3.6  2.10  3.0   3.60  2.10  3.10   3.30  2.10  3.1   3.30
9497     0  ...   3.0  2.20  3.5   2.75  2.25  3.40   2.75  2.25  3.5   2.70
9498     1  ...   7.0  1.45  4.0   6.25  1.44  3.75   7.00  1.45  4.0   6.25
9499     0  ...   2.5  2.75  3.1   2.40  2.75  3.10   2.40  2.55  3.1   2.55

[9500 rows x 138 columns]>

### Definiendo la pregunta.

En este caso nos preguntaremos , con todas tlas temporadas archivadas que tenemos ¿Quiene sería el mejor equipo , el más regular?  
Para ello nuestra estrategia será a traves de la columna _FTR_ ,el cual tiene 3 variables , les asignaremos un valor para cuantificar.  
Los valores de la columna _FTR_ nos indican de forma cualitativa el resultado del partido:
 H=Victoria del equipo local  
 D= empate  
 A=Victoria del equipo visitante  
Para ello asignaremos unas variables númericas según la norma actual de 3 puntos para el equipo que gana , 1 por empate y 0 para el que pierde.

#### Seleccionando datos

Como venimos haciendo nos olvidamos de toda la sección de apuestas , no nos interesan ni fechas ni horarios, y solo tenemos interés por los resultados finales. con todo ello crearemos un nuevo DataFrame con los campos que nos sean útiles para determinar la validez de la hipótesis.

In [51]:
datos_puntos_totales=datos_liga[["Date","Time","HomeTeam","AwayTeam","FTR"]]

In [52]:
datos_puntos_totales.dtypes

Date        object
Time        object
HomeTeam    object
AwayTeam    object
FTR         object
dtype: object

In [53]:
datos_puntos_totales=pd.get_dummies(datos_puntos_totales,columns=["FTR"])

Podria usar la opción de no usar unas de las variables , ya obligatoriamente si el valor de 2 de las columnas nuevas es 0 la tercera debe ser 1. Pero por ahora lo dejaremos así.

Ahora hay 2 estrategias posibles a seguir para obtener nuestro objetivo
    1-A traves de tabla vardad
    2-directamente en el dataframe

In [54]:
datos_puntos_totales.describe

<bound method NDFrame.describe of             Date   Time     HomeTeam     AwayTeam  FTR_A  FTR_D  FTR_H
0     13/08/2021  20:00     Valencia       Getafe      0      0      1
1     14/08/2021  18:30        Cadiz      Levante      0      1      0
2     14/08/2021  18:30     Mallorca        Betis      0      1      0
3     14/08/2021  21:00       Alaves  Real Madrid      1      0      0
4     14/08/2021  21:00      Osasuna      Espanol      0      1      0
...          ...    ...          ...          ...    ...    ...    ...
9495    18/05/08    NaN  Real Madrid      Levante      0      0      1
9496    18/05/08    NaN   Recreativo   Valladolid      0      1      0
9497    18/05/08    NaN    Santander      Osasuna      0      0      1
9498    18/05/08    NaN      Sevilla   Ath Bilbao      0      0      1
9499    18/05/08    NaN     Valencia   Ath Madrid      0      0      1

[9500 rows x 7 columns]>

1 obj cambiar valores columna FTR_a *3 y FTR_h por 3

In [55]:
datos_puntos_totales["FTR_A"]=datos_puntos_totales["FTR_A"].replace([1],[3])

In [56]:
datos_puntos_totales["FTR_H"]=datos_puntos_totales["FTR_H"].replace([1],[3])

In [57]:
datos_puntos_totales.describe

<bound method NDFrame.describe of             Date   Time     HomeTeam     AwayTeam  FTR_A  FTR_D  FTR_H
0     13/08/2021  20:00     Valencia       Getafe      0      0      3
1     14/08/2021  18:30        Cadiz      Levante      0      1      0
2     14/08/2021  18:30     Mallorca        Betis      0      1      0
3     14/08/2021  21:00       Alaves  Real Madrid      3      0      0
4     14/08/2021  21:00      Osasuna      Espanol      0      1      0
...          ...    ...          ...          ...    ...    ...    ...
9495    18/05/08    NaN  Real Madrid      Levante      0      0      3
9496    18/05/08    NaN   Recreativo   Valladolid      0      1      0
9497    18/05/08    NaN    Santander      Osasuna      0      0      3
9498    18/05/08    NaN      Sevilla   Ath Bilbao      0      0      3
9499    18/05/08    NaN     Valencia   Ath Madrid      0      0      3

[9500 rows x 7 columns]>

Ahora sumaremos la columna de empate a las otras 2 y tendremos los puntos de cada partido de los equipos visitantes y locales

In [58]:
datos_puntos_totales["FTR_A"]=datos_puntos_totales["FTR_A"]+datos_puntos_totales["FTR_D"]

In [59]:
datos_puntos_totales["FTR_H"]=datos_puntos_totales["FTR_H"]+datos_puntos_totales["FTR_D"]

In [60]:
datos_puntos_totales.describe

<bound method NDFrame.describe of             Date   Time     HomeTeam     AwayTeam  FTR_A  FTR_D  FTR_H
0     13/08/2021  20:00     Valencia       Getafe      0      0      3
1     14/08/2021  18:30        Cadiz      Levante      1      1      1
2     14/08/2021  18:30     Mallorca        Betis      1      1      1
3     14/08/2021  21:00       Alaves  Real Madrid      3      0      0
4     14/08/2021  21:00      Osasuna      Espanol      1      1      1
...          ...    ...          ...          ...    ...    ...    ...
9495    18/05/08    NaN  Real Madrid      Levante      0      0      3
9496    18/05/08    NaN   Recreativo   Valladolid      1      1      1
9497    18/05/08    NaN    Santander      Osasuna      0      0      3
9498    18/05/08    NaN      Sevilla   Ath Bilbao      0      0      3
9499    18/05/08    NaN     Valencia   Ath Madrid      0      0      3

[9500 rows x 7 columns]>

In [61]:
resultados_local=datos_puntos_totales[["HomeTeam","FTR_H"]]
resultados_visit=datos_puntos_totales[["AwayTeam","FTR_A"]]
resultados_local=resultados_local.rename(columns={"HomeTeam":"Equipo","FTR_H":"Puntos"})
resultados_visit=resultados_visit.rename(columns={"AwayTeam":"Equipo","FTR_A":"Puntos"})

In [62]:
resultados_local.describe

<bound method NDFrame.describe of            Equipo  Puntos
0        Valencia       3
1           Cadiz       1
2        Mallorca       1
3          Alaves       0
4         Osasuna       1
...           ...     ...
9495  Real Madrid       3
9496   Recreativo       1
9497    Santander       3
9498      Sevilla       3
9499     Valencia       3

[9500 rows x 2 columns]>

In [63]:
clasificacion=pd.concat([resultados_local,resultados_visit],ignore_index=True)

In [64]:
clasificacion.describe

<bound method NDFrame.describe of            Equipo  Puntos
0        Valencia       3
1           Cadiz       1
2        Mallorca       1
3          Alaves       0
4         Osasuna       1
...           ...     ...
18995     Levante       0
18996  Valladolid       1
18997     Osasuna       0
18998  Ath Bilbao       0
18999  Ath Madrid       0

[19000 rows x 2 columns]>

resultados_local_2=datos_puntos_totales.groupby(["HomeTeam"]).sum()

In [65]:
clasificacion=clasificacion.groupby(["Equipo"]).sum()

In [69]:
clasificacion.sort_values(by=["Puntos"],ascending=False)

             Puntos
Equipo
Barcelona      2219
Real Madrid    2185
Ath Madrid     1843
Sevilla        1578
Valencia       1457
Villarreal     1365
Ath Bilbao     1340
Sociedad       1196
Getafe         1045
Espanol        1040
Betis           952
Levante         903
Celta           849
Malaga          832
Osasuna         770
Granada         680
La Coruna       597
Eibar           557
Mallorca        541
Vallecano       526
Valladolid      469
Alaves          439
Sp Gijon        391
Almeria         344
Zaragoza        327
Santander       291
Elche           276
Leganes         273
Las Palmas      210
Girona          139
Cadiz           127
Huesca          101
Recreativo       77
Hercules         70
Cordoba          40
Tenerife         36
Numancia         35
Xerez            34
Murcia           30

operar directamente con el group by , hacer un filtro de valor y sacar los tops

para standarizar , usar el spring 7 parte 2 y normalizar los datos.

### Estandariza que es gerundio
Cogeremos los datos que habiamos empleado en el Spring 7 y los esandarizaremos.